body{
    height: 100%;
    width: 100%; 
    margin: 5px;
    font-size: 18px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif; 
  
    
}

.header{
    display: flex;
    justify-content: space-around;
    background-color:#32A89C;
    

}
a {
text-decoration: none;
justify-content: center;
align-items: center;
color: #e1dd7f;
font-size: 30px;
white-space: nowrap;
padding: 3px;
margin: 5px;


text-transform: none;
letter-spacing: 2px;
overflow: hidden;
transition: 0.1s;

}
a:hover{
color: #255784;
background: #2196f3;
box-shadow: 0 0 10px #2196f3  0 0 40px #2196f3 0 0 80px #2196f3;

}
.placeholder{
height: 350px;

}
li {
list-style-type: none;
align-items: flex-start;
gap: 26px;
font-size: 18px;
color: #E5E7EB
;
}

ul {
display: flex;
margin: 10%;
padding: 5%;

}
.section-1{
background-color: #009688;
display: flex;
justify-content: space-around;
padding: 6%;
margin-bottom:2% ;

}
.logo{
font-size: 24px;
color: #f9faf8;
align-self: center;

}
h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.h1-and-text{
color: white;
width: 400px;

}
.sign-up-btn{
background-color: #3882F6;
font-size: 25px;
/* padding:15px 4px; */
border-radius:10%;
margin: 0 auto;


}

.image{ 
    display: flex;
    flex-direction: column;
    max-width: 400px;
    
    margin:5px;
    justify-content: center;
   
}

.text{
    height: 150px;
    width: 400px;
}
.container{
    display: flex;
    Height: 800px;
    justify-content: center;
    gap: 12px;
  

   
    
}
h2{
    text-align: center;
    margin: 30px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.quotes{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    line-height: 40px;
    justify-content: space-around;
    align-items: center;
    padding: 100px 310px; 
    width: auto;
    background-color: #E5E7EB;
    
   

}
.quotes.p{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 36px;
    color: #1F2937;
    font-style: light italic;



}
.name-attribute{
    display: flex;
    justify-content: flex-end;
}
.nested-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    color: white;
    font-size: larger;
}
.box{
    display: flex;
    width: 50%;
    height:30%;
    background-color: #0477BF;
    justify-content: space-around;
    border-radius: 2%;
}
.call-to-action{
margin: 20px;

}

.footer{
    background-color: #BFBFBF;
    text-align: center;
    padding: 20px;
}
